<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- build:css css/app.css -->
    <link rel="stylesheet" href="../{{root}}css/app.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{> c-header}}
    {{> body}}
    <!-- build:js scripts/app.js -->
    <script async src="../{{root}}scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
